*~
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.make
*.d
*.bbl
*.blg
*.fls
*.rel
*.temp
*.gz
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
.DS_Store
*/.DS_Store
*_diff.tex
*_new.tex
*_old.tex
*.out
*.cut
.latexrun.db*
*.toc
old
*.bcf
*.run.xml
samples/ACM-Reference-Format.bst
samples/*.bbx
samples/*.cbx
samples/*.dbx